# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag


# #######################################################
matlab_job_commands.m
vars.groovy
shell_commands.bat
shell_commands.sh
03_Code/
04_Results/
derived/
common/
task*/
tasks/
__pycache__/
_downloads_/

!pipelines
!pipelines/derived
!pipelines/derived/**

data*.json
test*.html
pipelines/scripts/lib/